.gnb-icon-button {
  @include flexbox;
  width: 32px;
  height: 32px;
  font-size: 24px;
  color: $secondary;
  transition: color 250ms ease-in-out;

  &.is-menu {
    color: $blue;
  }

  &.is-menu:active {
    color: $blue-dark;
  }

  &:active {
    color: $primary;
  }
}
